body {
  font-family: "PT Mono", monospace;
  color: rgb(0, 0, 0);
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.card {
  max-width: 550px;
  margin: 30px auto;
  margin-top: 90px;
  padding: 10px;
  background-color: #15182e;
  border-color: #fd7e00;
}

h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #e1e1f8;
  text-shadow: 0 0 10px #acabf7;
  margin-bottom: 20px;
}

h1 {
  text-transform: capitalize;
}

h2,
h3 {
  font-size: 18px;
  font-weight: lighter;
  color: #c2f0d9;
  text-shadow: 0 0 4px #42e792;
}

.city-input {
  padding: 3.5px 7px;
  position: relative;
  top: 2px;
  border-radius: 5px;
  background-color: rgb(39, 39, 62);
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  background-color: #9cf977a0;
  text-shadow: 0 0 3px white;
  font-size: 15px;
}

.current-place-time-description {
  margin: 10px 0px 40px 0px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

.temperature {
  position: relative;
  right: 25px;
  bottom: 23px;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #ffc58a;
  text-shadow: 0 0 10px #fd7e00;
  text-align: left;
}

a {
  text-decoration: none;
}

.temperature-scale {
  color: #e3e3ff;
  text-shadow: 0 0 10px #6b6bf8;
  position: relative;
  bottom: 45px;
  right: 25px;
  font-size: 14px;
}

.temperature-scale .active {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}

.temperature-scale .active:hover {
  text-decoration: none;
}

.other-information {
  font-size: 18px;
  color: #b1e1fef9;
  text-shadow: 0 0 5px #58bcfae9;
  margin-bottom: 0px;
  position: relative;
  bottom: 25px;
  right: 15px;
}

.row {
  margin-top: 0px;
  padding: 0px;
  font-size: 15px;
  text-align: center;
  border: #ec84ff;
}

.forecast-icons {
  margin: 0;
}

.current-weather {
  padding: 0;
  margin: 0;
}
.coming-temperature {
  color: #ffd1b3d8;
  text-shadow: 0 0 10px #ff5e00;

  position: relative;
  left: 5px;
  bottom: 10px;
}

.author {
  color: #fd7e00c2;
  text-align: center;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

#main-icon {
  position: relative;
  bottom: 25px;
  left: 20px;
  margin: 0px;
  padding: 0;
}

.wind {
  position: relative;
  right: 5px;
}

.weather-forecast-minimum {
  color: #ffa2516e;
  text-shadow: 0 0 10px #ff4d004f;
}

.weather-forecast-date {
  color: #e1e1f8;
  text-shadow: 0 0 10px #acabf7;
  position: relative;
  top: 5px;
}

.col-sm-2 {
  padding: 0;
}
